<section class="portfolio section" id="portfolio">
    <h2 class="section__title">Projects</h2>
    <span class="section__subtitle">Most recent work</span>
    <div class="contain mx-auto rounded-5">



        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
            effect="fade" navigation="true">
            <swiper-slide lazy="true" class="rounded-4">
                <div class="portfolio__content grid swiper-slide">
                    <img src="pro.jpg" class="portfolio__img" />

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">
                            Responsive-Weather-Forecast-Website
                        </h3>
                        <p class="portfolio__description">
                            This project is a weather website that provides live weather
                            updates and forecasts based on your location. Stay informed
                            about current weather conditions, temperature, and more.
                            Explore interactive maps, hourly/daily forecasts, and helpful
                            insights. Stay ahead of the forecast and make the most of your
                            day!
                        </p>
                        <a href="https://github.com/Venkateeshh/Weather-App"
                            class="button button--flex button--small portfolio__button me-2">
                            GitHub Repository
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                        <a href="https://venkateeshh.github.io/Weather-App/"
                            class="button button--flex button--small portfolio__button">
                            See Live
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>




            <swiper-slide lazy="true" class="rounded-4">
                <div class="portfolio__content grid swiper-slide">
                    <img src="portfolio1.png" class="portfolio__img" />

                    <div class="portfolio__data">
                        <h3 class="portfolio__title">
                            Responsive-Weather-Forecast-Website
                        </h3>
                        <p class="portfolio__description">
                            This project is a weather website that provides live weather
                            updates and forecasts based on your location. Stay informed
                            about current weather conditions, temperature, and more.
                            Explore interactive maps, hourly/daily forecasts, and helpful
                            insights. Stay ahead of the forecast and make the most of your
                            day!
                        </p>
                        <a href="https://github.com/Venkateeshh/Weather-App"
                            class="button button--flex button--small portfolio__button me-2">
                            GitHub Repository
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                        <a href="https://venkateeshh.github.io/Weather-App/"
                            class="button button--flex button--small portfolio__button">
                            See Live
                            <i class="uil uil-external-link-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </swiper-slide>



        </swiper-container>
    </div>
</section>