<section class="about section" id="about">
    <h2 class="section__title">About Me</h2>
    <span class="section__subtitle">My introduction</span>

    <div class="about__container container grid">
        <img src="pro.jpg" alt="" class="about__img" />

        <div class="about__data">
            <p class="about__description">
                I'm a third-year ISE undergraduate, passionate about technology and an avid reader. I have a
                self-motivated
                and can-do attitude, thriving in challenging and dynamic environments. Seeking a competitive position to
                enhance my skills and contribute to a professional organization. I'm very much passionate to learn new
                stuff
                that interests me and can help me to get better.
            </p>

            <div class="about__info">
                <div>
                    <span class="about__info-title">3.4+</span>
                    <span class="about__info-name">Aggregate <br />GPA</span>
                </div>

                <div>
                    <span class="about__info-title">10+</span>
                    <span class="about__info-name">
                        Projects</span>
                </div>

                <div>
                    <span class="about__info-title">01+</span>
                    <span class="about__info-name">Years <br />experience</span>
                </div>
            </div>

            <div class="about__buttons">
                <a download="" href="" class="button button--flex">
                    Download CV<i class="fas fa-download button__icon"></i>
                </a>
            </div>
        </div>
    </div>
</section>